@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #6f7c7e;
    letter-spacing: 0.07em;
    font-weight: 300;
}

table {
    width: 340px;
    margin-top: 15px;
}

div.wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.signup-container {
    display: table-cell;
    vertical-align: middle;
}

.form-container {
    font-family: "Roboto", sans-serif;
    padding: 30px;
    background-color: #eeeff3;
    box-shadow: 0 0 4px #9c9c9c;
}

.signup-field {
    width: 290px;
    font-family: "Roboto", sans-serif;
    border: 2px solid transparent;
    margin: 10px 0 10px;
    font-weight: 500;
    font-size: 1em;
    color: #787d88;
    background-color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    transition: border 120ms ease-in;
}

.signup-field::placeholder {
    color: #c3c8d5;
}

.signup-field:focus {
    outline: none;
    border: 2px solid #00be9c;
}

.submit-button {
    font-family: "Roboto", sans-serif;
    background-color: #00be9c;
    width: 330px;
    margin: 30px 0 10px;
    font-weight: 500;
    border-radius: 6px;
    font-size: 1.1em;
    padding: 14px 18px;
    color: #FFF;
    border: none;
    transition: background 120ms ease-in;
}

.submit-button:focus {
    outline: none;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #17cfae;
}

.error {
    position: relative;
    right: -6px;
    top: -8px;
    color: #de2323;
    font-size: 0.8rem;
}

.welcome-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.welcome-text {
    color: #00be9c;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 4rem;
}

#copyright {
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}

#github:link, #github:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #00be9c;
    text-decoration: none;
    transition: color 120ms ease-in;
}

#github:hover, #github:visited:hover {
    color: #1a9a83;
}
