{% extends 'base.html' %}

{% block content %}
<h1>Signup</h1>
<form method = 'POST'>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for = 'username'>Username</label>
                </td>
                <td>
                    <input type = 'text' name = 'username' value = '{{ username }}'/>
                    <span class = 'error'>{{ usererror }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for = "password">Password</label>
                </td>
                <td>
                    <input type = 'password' name = 'password'/>
                    <span class = 'error'>{{ passerror }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for = "verify">Verify Password</label>
                </td>
                <td>
                    <input type = 'password' name = 'verify'/>
                    <span class = 'error'>{{ verifyerror }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for = "email">Email (optional)</label>
                </td>
                <td>
                    <input type = 'text' name = 'email' value = '{{ email }}'/>
                    <span class = 'error'>{{ emailerror }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type = 'submit'/>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}
